header {
    height: 65px;
    background:gold;
    position: fixed;
  }

  nav{
    margin-top: 10px;
    float: left;
    background-color: white;
  }
.menu ul{
    margin: 0px;
    background-color: black;
    list-style: none;

  }
  nav ul li{
    display: inline;

  }
  nav ul li a{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 0px 10px ;
    
  }
